body {
    background-color: #62c2c8;
}

.App {
    background-color: white;
    min-height: 80vh;
    width: 400px;
    margin: 20px auto;
}

.container {
    display: flex;
    justify-content: center;
}

.crossed {
    text-decoration: line-through 2px red;
    background-color: #f0f0f0;
}

ul, li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, input {
    font-family: 'Montserrat', sans-serif;
}

.add {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    background-color: #65aa06;
    padding: 10px;
    border: none;
    width: 70%;
    color: white;
}

.delete {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: #d30100;
    padding: 10px;
    border: none;
    width: 70%;
    color: white;
}

input {
    flex: 1;
    padding: 8px;
    margin: 10px;
}

img {
    border-radius: 50%;
}